body {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline !important;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    text-decoration: none;
}
.navbar-brand:hover {
    color: powderblue !important;
    text-decoration: none !important;
}

.satisfy {
    font-family: 'Satisfy', cursive; 
    line-height:0;
}

nav {
    background-color: darkseagreen
}

.nav-link:hover {
    color: powderblue !important;
}

blockquote {
    margin-left:4em;
}

.my-specialty {
    padding: 0.5em;
    height: 100%;
    border-left: 15px solid powderblue;
    border-top: 4px solid powderblue;

}

.ratesheet {
    border: 5px solid gainsboro;
    background: whitesmoke;
    padding: 0.25em;
}