<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Raleway:400,800&display=swap" rel="stylesheet">
    <!-- custom styles -->
    <link rel="stylesheet" href="/assets/css/sandysoft.css">
    <!-- syntax highlighting -->
    <link rel="stylesheet" href="/assets/css/github.css">
    {% feed_meta %}
    {% seo %}
</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-light">
        
        <a class="navbar-brand" href="/"><strong>Sandy River Software</strong></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="nav-item navbar-text mr-auto text-light">
                Custom software, data analytics, &amp; cybersecurity consulting in Maine
            </div>
            {% include navigation.html %}
        </div>
    </nav>
    
<div class="container pt-6">

    
    
{{ content }}
    
    
    
</div>
<!-- jquery slim build -->
<script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
<!-- bootstrap bundled with popper.js -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>    
</body>
</html>
